<h2>Add a new comment!</h2>
<div>
<form class="comment-form">
    <label for="comment">Comment</label>
    <input class="form-input" type="text" id="comment" name="comment" />
    <button type="submit">Submit</button>
</form>
</div>

<script src="./js/comment.js"></script>