{{#each posts as |post|}}
<div class="blog-post">
    <p><strong><a href="/post/{{post.id}}">
    {{post.title}}</a></strong></p>
    <p>{{post.body}}</p>
    <p>Posted By {{post.user.username}}</p>
</div>
{{/each}}